@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Blue: hsl(246, 80%, 60%);
  --Light-red-work: hsl(15, 100%, 70%);
  --Soft-blue-play: hsl(195, 74%, 62%);
  --Light-red-study: hsl(348, 100%, 68%);
  --Lime-green-exercise: hsl(145, 58%, 55%);
  --Violet-social: hsl(264, 64%, 52%);
  --Soft-orange-self-care: hsl(43, 84%, 65%);

  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 62%);
  --Pale-Blue: hsl(236, 100%, 87%);
}

body {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--Very-dark-blue);
}

.gridd {
  display: grid;
  gap: 2.5em;
}

@media (min-width: 600px) {
  .gridd {
    grid-template-areas: 
      'one tow three four'
      'one five six seven';
  }
  
  .gf1 {
    grid-area: one;
  }
  
  .gf2 {
    grid-area: tow;
  }
  
  .gf3 {
    grid-area: three;
  }
  
  .gf4 {
    grid-area: four;
  }
  
  .gf5 {
    grid-area: five;
  }
  
  .gf6 {
    grid-area: six;
  }
  
  .gf7 {
    grid-area: seven;
  }
}
